.Container {
    padding: 2em;
    .Button {
        margin: 1em 0;
    }
}

.header {
    background-color: red;
    width: 100%;
    display: flex;
    .text {
        font-size: 20pt;
        width: calc(100%/5);
    }
}

.content {
    background-color: orange;
    width: 100%;
    display: flex;
    .text {
        font-size: 18pt;
        width: calc(100%/5);
    }
}